/* 1024px */
@media(min-width: 768px) and (max-width:1024px)

{
    body{
        margin: 0;
    }

    .Main, .Haut, footer {
        max-width: 1024px;
        margin: auto;
    }

    .Haut{
        padding: 20px;
    }

    .Article-Aside {
       
        align-items: center;}
       
    
    #Hebergements{
        width: 50%;
    }

    
    

    #Hebergements, .Populaires {
        margin-bottom: 20px;
    }

    .Populaires{
        width: 40%;
        height: 100%;

    }

    .Cartes-Populaires{
        display: flex;
        flex-direction: column;
        justify-content: space-between
    }

    .Cartes{
        width: auto;
    }

    .Titre-Activités {
        display: flex;
        justify-content: center;
      }
    
} 

/* Format Tablette */
@media(min-width: 426px) and (max-width: 768px)
{
    .Main, .Haut, footer {
        max-width: 768px;
        margin: auto;
      }
      #Hebergements{
        width: 85%;
    }

} 

/* Format Smartphone */

@media(max-width: 425px)
{ 
    .Main, .Haut, footer {
    max-width: 425px;
    margin: auto;
    }

    .Haut {
        padding: 15px;
    }

    header{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr;    
    }

    
   .Logo{
      grid-column-start: 1;
      padding: 30px;
    }
  
    .Sinscrire_Bouton  {
        grid-column-start: 2;
        padding: 10px;

       
    }

    .Hebergements_Bouton {
        grid-column-start: 1;
        grid-row-start: 2;
        padding: 10px;
        width: 85%;
        border-bottom: 3px solid #0065FC;
    }
    
    .Activités_Bouton {
        grid-row-start: 2;
        grid-column-start: 2;
        padding: 10px;
        width: 75%;
        border-bottom: 3px solid #f2f2f2;
    }
    
    .votre-ville {
        width: 60%;
    }

    .Icone-Map{
        width: 10%;
    }

    .Rechercher {
        display: none;
    }

    .Icone-Loupe{
        display: flex;
    }

    .Filtres {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr 1fr;    
    
    }

    .FiltreTitre {
        grid-column-start: 1;
    }

    .FiltreEconomique {
    grid-column-start: 1;
    grid-row-start: 2; }

   
    
    .FiltreFamillial { 
    grid-column-start: 2;
    grid-row-start: 2; 
    }

    .FiltreAnimaux {
    grid-column-start: 1;
    grid-row-start: 4; 
    width: 120%;
    }

    .FiltreRomantique {
    grid-column-start: 1;
    grid-row-start: 3; 
    }


    .Liste-Filtres {
        margin-bottom: 10px;
    }
    
    .Article-Aside {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    }

    .Populaires {
    width: auto;
    border-radius: 0;
    }

    #Hebergements{
    width: auto;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-bottom: 20px;
    background: none;
    }

    .Cartes{
        width: 95%;
    }

    
    #Activités {
        width: 100%;
    }
    
    #Activités img{
        width: 300px;
        height: 150px;
        object-fit: cover;
    }

    #Colonne {
    display: flex;
    flex-direction: column;
    width: auto;
        }

    Footer h2  {
    font-size: 1rem;
    width: 160px;
    }
        
    Footer li  {
    font-size: 0.7rem;
    width: 160px;
    }
    
}

