/* 1024px */
@media(min-width: 768px) and (max-width:1024px)

{
    body{
        margin: 0;
    }

    .Main, .Haut, footer {
        max-width: 1024px;
        margin: auto;
      }

    .Haut{
        padding: 20px;
    }
    #Hebergements {
        margin-bottom: 20px;
    }

    .Titre-Activités {
        display: flex;
        justify-content: center;
      }
    
} 

/* Format Tablette */
@media(min-width: 426px) and (max-width: 768px)
{
    .Main, .Haut, footer {
        max-width: 768px;
        margin: auto;
      }

   
    
} 

/* Format Smartphone */

@media(max-width: 425px)

{ 
    .Main, .Haut, footer {
        max-width: 425px;
        margin: auto;
      }

    .Haut {
        padding: 15px;
    }

    
    
    .Sinscrire_Bouton{
        position: relative;
        top: 5px;
        padding-right: 0;
    }

    nav ul .Hebergements_Bouton
    {
        position: absolute;
        display: flex;
        top: 100px;
        left: 10px;
        align-content: center;
        justify-content:center;
        border-bottom: 4px solid #3D00FF;
        padding:0 40px;
        margin-left: 0px;


    }

    
    
    nav ul .Activités_Bouton
    {
        position: absolute;
        display: flex;
        justify-content: space-around;
        top: 100px;
        align-content: center;
        justify-content: center;
        border-bottom: 4px solid black;
        padding:0 25px;
        margin-left: 0px;


    }

    

   .Logo-Menu {
    margin-bottom: 80px;
    }
    
    .Filtres {
        width: 50px;
        display: flex;
        flex-direction: column;
    }

    .Liste-Filtres {
        margin-bottom: 10px;

    }
    

    
    .Article-Aside {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    }

   
    .Populaires {
        width: 100%;
        border-radius: 0;
        
        }

    .Cartes-Populaires{
        width: 90%;
    }

    .Titre-Populaires{
        width: 85%;

    }

    #Hebergements{
    width: 100%;
    display: flex;
    flex-direction: column;
    background: none;
    }
    
    .Liste-Carte {
       justify-content: flex-start;
    }

    .Cartes  {
        width: 85%;
    }

    .Images-Cartes {
    
        width: 345px;
    }
   
    
    #Activités, .Main-Left{
    display: flex;
    flex-direction: column;

}



    .Vieux, .Pomegues, .Frioul, .Garde, .Calanques,  .Longchamp{
  
    display: flex;
   

    margin-bottom: 20px;
    width: 350px;
    height: 220px;
    flex-direction: column;
    }

    .Vieux img, .Pomegues img, .Frioul img, .Garde img, .Calanques img,  .Longchamp img {
    object-fit: cover;
    height: 160px;
    }



    
    #Colonne {
    display: flex;
    flex-direction: column;
    }

    Footer h2  {
    font-size: 1rem;
    width: 150%;
    }

    Footer li  {
    font-size: 0.7rem;
    width: 250%;
    }

    @media(min-width: 320px) and (max-width: 375px)
{
    
    .Main, .Haut, footer {
        max-width: 320px;
        margin: auto;
      }
    .Images-Cartes {
        width: 300px;
    }
    
    .Vieux, .Pomegues, .Frioul, .Garde, .Calanques, .Longchamp {
       
        width: 320px;
      
    }


    
}

