

/* Eléments principaux de la page */

body{
  font-family: 'Raleway', sans-serif;
  margin: 0px;
}

.Main,  footer {
  max-width: 1440px;
  margin: auto;
}

.Haut {
  max-width: 1380px;
  margin: auto;
}

.Haut{
  padding: 20px 0px 10px 20px;
}

/* Menu de navigation  */

header{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 4fr 1fr 1fr 1fr;
}

.Logo{
  grid-column-start: 1;
}

.Sinscrire_Bouton  {
  grid-column-start: 5;
  padding: 20px;
  text-align: center;
}

.Hebergements_Bouton {
  grid-column-start: 3;
  padding: 20px;
  text-align: center;
}

.Activités_Bouton {
  grid-column-start: 4;
  padding: 20px;
  text-align: center;
}

header img{
  width: 100px;
}

header a:hover{
  color: #0065fc;
  border-top: 3px solid #0065fc;
  padding-top: 30px;
}

.Sinscrire_Bouton, .Hebergements_Bouton {
  color: #0065fc;
}

.Haut h1{
  font-family: "Raleway";
  font-size: 1.4em;
  font-weight: bolder;
}

.Haut p {
  font-size: 15px;
}

/* Formulaire de recherche */

.formulaire {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.Icone-Map{
  background-color: #f2f2f2;
  border: solid #d9d9d9 1px;
  border-right: 0;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;  
  height: 54px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center
}

.votre-ville {
  width: 230px;
  height: 55px;
  font-size: 18px;
  padding-left: 15px;  
  border: solid #d9d9d9 1px;
  border-left: 0;
  border-right: 0;
}

.Rechercher {
  background-color: #0065fc;
  border: solid #d9d9d9 1px;
  border-left: 0;
  border-right: 0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 150px;
  height: 56px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition-duration: 0.2s;
}

.Icone-Loupe {
  background-color: #0065FC;
  border: solid #d9d9d9 1px;
  border-left: 0;
  border-right: 0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 50px;
  height: 56px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center
}

/* Filtres */

.Filtres{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

 .Filtres h2{
  display: flex;
  flex-wrap: wrap;
  margin-right: 20px;
 }

 .FiltreEconomique, .FiltreAnimaux, .FiltreRomantique, .FiltreFamillial {
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 100px;
    cursor: pointer;
    transition-duration: 2s;
    font-weight: bold;
    margin-right: 30px;
    height: 50px;
    width: auto;
 }

 .Filtres-Icon {
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 50px;
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
  margin-right: 10px;
 }

 .Filtres-Description {
  font-weight: bolder;  
  margin-right: 10px;
}

  .Filtres-Description a:hover{
    color: #0065fc;
  }

.Resultats {
  display: flex;
  align-items: center;
}

.Icone-Info{
  height: 30px;
  width: 30px;
  border: solid 1px #d9d9d9;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0065fc;
  margin-right: 10px;
}

/* section Article-Aside */

.Article-Aside {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Article (Hebergements) */

#Hebergements{
  background-color: #f2f2f2;
  width: 60%;
  border-radius: 1.5rem;
  padding: 20px;
}

#Hebergements h2{
  align-items: center;
}

.Liste-Carte{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Cartes{
  width: 29%;
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  margin-bottom: 20px;
  box-sizing: border-box;
  padding: 5px;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.Images-Cartes {
  border-radius: 1rem 1rem 0 0;
  object-fit: cover;
  width: 100%;
}

.strong {
  font-weight: bolder;
}

.Icone-Star, .Populaires-Icone-Star{
  color: #d9d9d9;
}
.fa-star[data-active=true] {
  color: #0065FC;
}

a.Plus{
  font-weight: bolder;
}

/* Aside (populaires) */

.Populaires {
  background-color: #f2f2f2;
  width: 25%;
  border-radius: 1.5rem;
  padding: 20px;
}

.Titre-Populaires {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Icone-Line {
  font-size: 1.8rem;
}

.Cartes-Wrap {
  display: flex;
  width: 95%;
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
  margin-bottom: 20px;
  padding: 5px;
}

.Texte-Populaire{
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  justify-content: space-between;
}

.Images-Populaires {
  border-radius: 1rem 0 0 1rem;
  object-fit: cover;
}

.Populaires h3{
  font-weight: bolder;
  margin: 0px;
}



/* Activités */

#Activités{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  }

.Titre-Activités {
  margin-left: 30px;
}

.Activités_Left, .Activités_Right {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  column-gap: 60px;
}

#Activités img{
  border-radius: 1.25rem 1.25rem 0 0;
}

#Activités h3{
  font-weight: bolder;
  padding-left: 15px;
  padding-bottom: 15px;
  }

.Vieux{
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
}

.Pomegues {
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
}

.Frioul {
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
}

.Calanques{
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
}

.Garde {
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
}

.Longchamp {
  background-color: white;
  border-radius: 1.25rem;
  box-shadow: 0 0 16px #0000002e;
}

/* Footer */

footer{
  background-color: #f2f2f2;
}

footer li {
  color: #5b5b5b;
  margin-bottom: 20px;

}

#Colonne{
  display: flex;
  flex-direction: row;
  height: auto;
  width: auto;
}

footer h2{
  display: flex;
  justify-content: space-between;
  font-weight: bolder;
  color: black;
  }
  
footer ul{
  list-style: none;
}

footer li{
  display: list-item;
}

.A_Propos{
  width: 33%;
}

.Nos_hebergements{
  width: 33%;
}

.Assistance {
  width: 33%;
}