@font-face {
  font-family: "Raleway";
  src: url("polices/raleway.eot"),
       url("polices/raleway.eot#?iefix") format('embedded-opentype'),
       url("polices/Raleway/raleway.woff") format('woff'), 
       url("polices/raleway.ttf") format('truetype'), 
       url("polices/raleway.svg") format('svg'); 

  font-style: normal;
  font-weight: normal;
}


/* Eléments principaux de la page */

body{
  max-width: 1450px;
  padding: 0;
  font-family: "Raleway";
  margin: 0 auto;
}

header div {
display: flex;
justify-content: space-between;
align-items: center;
margin-top: 50px;
}

header img{
width: 100px;
}

/* Menu de navigation  */

nav ul{
  list-style-type: none;
  justify-content: space-between;
  display: flex;
  width: 400px;   
}



nav a{
    font-size: 20px;
    color: #181818;
    padding-bottom: 3px;
    text-decoration: none;
    font-family: "Raleway";
    color: #0065fc;
}

nav a:hover{
    color: #000000;
}

header h1{
  font-family: "Raleway";
  width: 580px;
  font-size: 1.4em;
  font-weight: bolder;
}

header p {
  width: 300px;
  font-size: 15px;
}

/* Formulaire de recherche */


.formulaire {
  display: flex;
  align-items: center;
  margin-top: 30px;
}


.Icone-Map{
  background-color: #f2f2f2;
  background-position: 18px 12px;
  border: solid #d9d9d9 1px;
  border-right: 0;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;  
  height: 54px;
  width: 45px;
  display: flex;
  align-items: center;
  justify-content: center
}


.votre-ville {
  width: 230px;
  height: 55px;
  font-size: 18px;
  padding-left: 15px;  
  border: solid #d9d9d9 1px;
  border-left: 0;
  border-right: 0;
}

.Rechercher {
  background-color: #0065fc;
  border: solid #d9d9d9 1px;
  border-left: 0;
  border-right: 0;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  width: 150px;
  height: 56px;
  font-size: 18px;
  color: white;
  cursor: pointer;
  transition-duration: 0.2s;
}

/* Filtres */


.Filtres{
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
  justify-content: space-between;
}

 .Filtres h2{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
 }

 .Liste-Filtres {
    display: flex;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 100px;
    margin-bottom: 2rem;
    cursor: pointer;
    transition-duration: 0.2s;
    font-weight: bold;

 }

 .Filtres-Icon {
  background-color: #DEEBFF;
  border-radius: 100%;
  height: 3rem;
  width: 3rem;
  min-height: 3.5rem;
  min-width: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -2px;
  color: #0065fc;

 }

 .Filtres-Description {
margin-left: 20px; 
margin-right: 20px;
}

.Resultats {
  display: flex;
  align-items: center;
}

.Icone-Info{
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    color: #0065fc;

}
